.section-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 30px auto;
    align-items: center;
    padding: 0 40px;
}

@media screen and (max-width: 500px) {
    .section-products {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .search-bar,
    .category-filter {
        width: 70%;
        margin: auto;
    }
}