body {
    font-family: var(--font-family);
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:992px) {
    html {
        font-size: 10px;
    }
}